{{#each ambassadors}}
{{#if show}}
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="speaker-wrapper shape-clip-sketch-4-3 img-ratio-4-3 cursor-pointer">
        <div class="img-ratio-wrapper img-background" style="background-image: url(/images/ambassadors/{{image}});">
            <div class="speaker-overlay">
                <div class="row overlay-content">
                    {{#if facebook}}
                    <a class="col-md-3 col-lg-2" href="{{facebook}}" target="_blank">
                        <img src="/images/facebook.svg" alt="LinkedIn" width="40px" height="40px" />
                    </a>
                    {{else}}
                        {{#if linkedin}}
                        <a class="col-md-3 col-lg-2" href="{{linkedin}}" target="_blank">
                            <img src="/images/linkedin.svg" alt="LinkedIn" width="40px" height="40px" />
                        </a>
                        {{/if}}
                    {{/if}}
                    <div class="col-md-9 col-lg-10">
                        <div class="speaker-name">
                            {{name}}
                        </div>
                        <div class="speaker-shortbio">
                            {{shortBio}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/each}}