<!-- Display the countdown timer in an element -->
<div class="logo-area background">
  <div id="logo-div" class="full-height">
    <canvas id="canvas"></canvas>
    <div id="logo" class="enei-skew logo center">
      <p id="E_1">E</p>
      <p id="N_2">N</p>
      <p id="E_3">E</p>
      <p id="I_4">I</p>
    </div>
  </div>
</div>
{{#if include_navbar}}
  {{> navbar }}
{{/if}}
<div class="container page-content-container">
  <div class="container subscribe-area-container">
    <div id="index-info" class="row info-socialmedia-row">
      <div class="col-sm-4 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-small homepage-info-entry">
        23 a 26 de Março
      </div>
      <div class="col-sm-4 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-entry">
        Faculdade de Engenharia da Universidade do Porto
      </div>
      <div class="col-sm-4 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
        Segue-nos!
        <br/>
        <a href="https://www.facebook.com/ENEIConf/">
          <i class="fa fa-facebook-square fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/eneiconf/">
          <i class="fa fa-instagram fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
        <a href="mailto:geral@enei.pt">
          <i class="fa fa-envelope-square fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row info-socialmedia-row">
      <div class="col-sm-2 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-small homepage-info-entry">
      </div>
      <div class="col-sm-8 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-entry">
        Queres organizar o próximo ENEI? Consulta mais informações sobre o formato e regulamento para candidaturas <a href='/candidaturas'>aqui</a>!
      </div>
      <div class="col-sm-2 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
      </div>
    </div>
    <div class="row info-socialmedia-row">
      <div class="col-sm-2 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-small homepage-info-entry">
      </div>
      <div class="col-sm-8 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-entry">
        Junta-te ao nosso <a href="https://join.slack.com/t/eneipt/shared_invite/enQtMzI4NjY4MjU5NzQ1LTE1ZDFhNzZjZTc5MzhhNmIzZDU5MjIyMjcyNWFjNGE3ZWFkNTgzMmNiZThiOTdiODFlN2U1NjdiMGRhMDE3M2Y">Slack</a> e descarrega a nossa <a href='https://enei.pt/android'>app Android</a>!
      </div>
      <div class="col-sm-2 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
      </div>
    </div>
    <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE
    <div class="row info-subscribe-row">
      <div class="col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Subscrever</button></div>
      <div class="col-sm-8 info-socialmedia-col"><input class="subcribe-input-custom" type="email" name="email" placeholder="email"></div>
    </div>-->
  </div>

  <!--<div class="row separator-row separator-shapes-1">
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>-->

  <!--<div class="row speakers-row">
    {{>speakers}}
  </div>-->

  <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE

  <div class="row speakers-row">
    <h1>Speakers "slideshow"</h1>
  </div>

  <div class="row call-for-speakers-row">
    <div class="speakers-btn-container"><button class="call-speakers-btn-custom">Subsrever</button></div>
  </div>

  <div class="row ambassadors-row">
    <h1>Ambassadors "slideshow"</h1>
  </div>

  <div class="row join-team-row">
    <h1>Junta-te à equipa!</h1>
  </div>-->

  <!--{{#if include_tickets}}
    <div class="container tickets-area-container">
      <h1 class="ticket-area-title">Bilhetes</h1>
      <div class="row ticket-categories-row">
        <div class="ticket-eb col-sm-5 ticket-categories-col">
          <i class="circle"></i>
          <br/>
          <div class="ticket-box">
            {{#if earlybird_soldout}}
            <h3 class="text-strike">Early bird</h3>
            <p class="type-note">Esgotado!</p>
            {{else}}
            <h3>Early bird</h3>
            {{/if}}
            <div>
              <div>
                <span>Individual</span>
                {{#if earlybird_soldout}} {{else}}
                <span class="price">25€</span>
                {{/if}}
              </div>
              <div>
                <span>Grupo</span>
                {{#if earlybird_soldout}} {{else}}
                <span class="price">20€</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="ticket-n col-sm-offset-2 col-sm-5 ticket-categories-col">
          <i class="circle"></i>
          <br/>
          <div class="ticket-box">
            <h3 class="text-strike">Regular</h3>
            <p class="type-note">Esgotado!</p>
            <div>
              <div>
                <span>Individual</span>
                <span class="price">30€</span>
              </div>
              <div>
                <span>Grupo</span>
                <span class="price">25€</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}-->

  <!--{{#if include_ambassadors}}
    <div class="container ambassadors-area-container">
      <h2 class="ambassadors-title text-center">Embaixadores</h2>
      <div id="myCarousel" class="slick-carousel">
        {{> ambassadors}}
      </div>
    </div>
  {{/if}}-->

  {{#if desafios_enabled}}
  <div class="row separator-row separator-shapes-1">
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

  <div id="faqs" class="container faqs-container">
    <h1 class="section-title" id="index-faq">Desafios do ENEI</h1>

    <div class="panel-group" id="desafios-accordion">
      {{#each desafios}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#desafios-accordion" href="#desafio-collapse-{{id}}">
              {{question}}</a>
          </h4>
        </div>
        <div id="desafio-collapse-{{id}}" class="panel-collapse collapse">
          <div class="panel-body faq-answer">
            {{{answer}}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="separator-row-secondary">
    <div class="row separator-shapes-2">
      <div class="col-xs-4 shape-square enei-skew enei-bgd-bgdblue anim-vertical-phase1"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
    </div>
  </div>

  <div id="faqs" class="container faqs-container">
    <h1 class="section-title" id="index-faq">FAQ's</h1>

    <div class="panel-group" id="accordion">
      {{#each faqs}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq-collapse-{{id}}">
              {{question}}</a>
          </h4>
        </div>
        <div id="faq-collapse-{{id}}" class="panel-collapse collapse">
          <div class="panel-body faq-answer">
            {{{answer}}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{#if include_sponsors}}
    <div class="sponsors-container">
      <div class="container">
        <h1 class="sponsor-title section-title">Patrocinadores</h1>

        <div class="sponsor main">
          {{#each sponsors.main}}
            {{#if show}}
              <a target="_blank" href="{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/main/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor gold">
          {{#each sponsors.gold}}
            {{#if show}}
              <a target="_blank" href="{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/gold/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor silver">
          {{#each sponsors.silver}}
            {{#if show}}
              <a target="_blank" href="{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/silver/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="container">
        <div class="sponsor bronze row">
          {{#each sponsors.bronze_level1}}
            {{#if show}}
            <a href="{{href}}">
            <div class="col-md-2 {{name}}" style="background-image: url('images/bronze/{{image}}')"></div>
            </a>
              <!--<a target="_blank" href="{{href}}">-->
                <!--<img title="{{name}}" alt="{{name}}" src="images/bronze/logos/{{image}}">-->
              <!--</a>-->
            {{/if}}
          {{/each}}
        </div>
        </div>
        <div class="container">
        <div class="sponsor bronze row ">
          {{#each sponsors.bronze_level2}}
            {{#if show}}
            <a href="{{href}}">
            <div class="col-md-2 {{name}}" style="background-image: url('images/bronze/{{image}}')"></div>
            </a>
            {{/if}}
          {{/each}}
        </div>
        </div>
      </div>
      <div class="container">
        <h1 class="sponsor-title section-title">Parceiros</h1>
        <div class="sponsor silver partner">
          {{#each partners1}}
            {{#if show}}
              <a target="_blank" href="{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor silver partner">
          {{#each partners2}}
            {{#if show}}
              <a target="_blank" href="{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

</div>

{{> footer }}
