<!-- Display the countdown timer in an element -->
<div class="logo-area" id="logo-area">
  <div class="row" id="countdown-row">
    <div class="col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
    <div id="countdown" class="col-sm-10 col-md-8 col-lg-6 col-xl-6"></div>
    <div class="col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
  </div>
  <div id="logo-div">
    <canvas id="canvas"></canvas>
    <div id="logo" class="enei-skew logo">
      <p id="E_1">E</p>
      <p id="N_2">N</p>
      <p id="E_3">E</p>
      <p id="I_4">I</p>
    </div>
  </div>
</div>
{{#if include_navbar}}
  {{> navbar }}
{{/if}}
<div class="container page-content-container">
  <div class="container subscribe-area-container">
    <div class="row info-socialmedia-row">
      <div class="col-sm-4 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-small homepage-info-entry">
        23 a 26 de Março
      </div>
      <div class="col-sm-4 info-socialmedia-col info-socialmedia-col-notlast font-verylarge font-bold homepage-info-entry">
        Faculdade de Engenharia da Universidade do Porto
      </div>
      <div class="col-sm-4 info-socialmedia-col font-verylarge font-bold homepage-info-entry">
        Segue-nos!
        <br/>
        <a href="https://www.facebook.com/ENEIConf/">
          <i class="fa fa-facebook-square fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/eneiconf/">
          <i class="fa fa-instagram fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
        <a href="mailto:geral@enei.pt">
          <i class="fa fa-envelope-square fa-inverse enei-social-icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE
    <div class="row info-subscribe-row">
      <div class="col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Subsrever</button></div>
      <div class="col-sm-8 info-socialmedia-col"><input class="subcribe-input-custom" type="email" name="email" placeholder="email"></div>
    </div>-->
  </div>

  <div class="row separator-row separator-shapes-1">
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
    <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
  </div>

  <div class="row speakers-row">
    <h1>Mais informações em breve!</h1>
  </div>

  <!-- DESCOMENTAR PARA CONTINUAR HOME PAGE

  <div class="row speakers-row">
    <h1>Speakers "slideshow"</h1>
  </div>

  <div class="row call-for-speakers-row">
    <div class="speakers-btn-container"><button class="call-speakers-btn-custom">Subsrever</button></div>
  </div>

  <div class="row ambassadors-row">
    <h1>Ambassadors "slideshow"</h1>
  </div>

  <div class="row join-team-row">
    <h1>Junta-te à equipa!</h1>
  </div>-->

  {{#if include_tickets}}
    <div class="container tickets-area-container">
      <h1 class="ticket-area-title">Bilhetes</h1>
      <div class="row ticket-categories-row">
        <div class="ticket-eb col-sm-5 ticket-categories-col">
          <i class="circle"></i>
          <br/>
          <div class="ticket-box">
            <h3>Early bird</h3>
            <div>
              <span>Individual</span>
              <span>Grupo</span>
            </div>
          </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="ticket-n col-sm-6 ticket-categories-col">
          <i class="circle"></i>
          <br/>
          <div class="ticket-box">
            <h3>Normal</h3>
            <div>
              <span>Individual</span>
              <span>Grupo</span>
              <span>Individual sem almoço</span>
              <span>Individual sem almoço &amp; sem alojamento</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="separator-row-secondary">
    <div class="row separator-shapes-2">
      <div class="col-xs-4 shape-square enei-skew enei-bgd-bgdblue anim-vertical-phase1"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
    </div>
  </div>

  <div id="faqs" class="container faqs-container">
    <h1 class="section-title">FAQ's</h1>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              O que é o ENEI?</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body faq-answer">
            <p>O Encontro Nacional de Estudantes de Informática (ENEI) é um evento que pretende oferecer aos estudantes
              de todo
              o país um evento que promove a aprendizagem, a troca de ideias e o convívio, enquanto tenta criar fortes
              ligações
              com o mundo empresarial.</p>
            <p>A 12ª edição do evento terá lugar na Faculdade de Engenharia da Universidade do Porto entre os dias 23 e
              26 de
              março de 2018 e a ornigazação espera contar com 500 estudantes que poderão participar em palestras,
              workshops
              e painéis de discussão, contando com oradores de renome nacional e internacional.</p>
            <p>Esta versão do evento também incluirá os tradicionais momentos de diversão noturnos que muito apelam a
              todos
              os participantes das antigas edições e são uma excelente via de networking e transferência de
              conhecimento!</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Onde me posso inscrever?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body faq-answer">No nosso website, quando abrir a época de inscrições. Mantém-te atento às
            nossas redes sociais para seres o primeiro!
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              Quando me posso inscrever nos workshops?</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body faq-answer">A inscrição em workshops será feita mais próxima da data do evento e será
            divulgada nas nossas redes sociais.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              Quem pode participar?</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body faq-answer">Todos os estudantes de cursos relacionados com informática estão convidados
            a participar!
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              Tenho acesso a todas as sessões?</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body faq-answer">As palestras são abertas a todos os participantes. No que toca a workshops,
            as inscrições serão à parte e limitadas.
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if include_sponsors}}
    <div class="sponsors-container">
      <div class="container">
        <h1 class="sponsor-title section-title">Patrocinadores</h1>

        <div class="sponsor main">
          {{#each sponsors.main}}
            {{#if show}}
              <a target="_blank" href="//{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/sponsors/main/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor gold">
          {{#each sponsors.gold}}
            {{#if show}}
              <a target="_blank" href="//{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/sponsors/gold/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor silver">
          {{#each sponsors.silver}}
            {{#if show}}
              <a target="_blank" href="//{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/sponsors/silver/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="sponsor bronze">
          {{#each sponsors.bronze}}
            {{#if show}}
              <a target="_blank" href="//{{href}}">
                <img title="{{name}}" alt="{{name}}" src="images/sponsors/bronze/{{image}}">
              </a>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

</div>

{{> footer }}