{{#if include_navbar}} {{> navbar }} {{/if}}
<link rel='stylesheet' href='/stylesheets/schedule.css' />

<div class="container page-content-container">
  <div class="custom-tab-container">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          {{#each schedule}} {{#if id}}
          <li class="custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{else}}
          <li class="active custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{/if}} {{/each}}
          <!--<li class="active custom-tab-item custom-tab-item-odd"><a href="#tab1default" data-toggle="tab">23 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab2default" data-toggle="tab">24 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-odd"><a href="#tab3default" data-toggle="tab">25 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab4default" data-toggle="tab">26 de Março</a></li>-->
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          {{#each schedule}}
          {{#if @index}}
          <div class="tab-pane fade in" id="eneiday{{id}}">
          {{else}}
          <div class="tab-pane fade in active" id="eneiday{{id}}">
          {{/if}}

            {{#each schedule}}
              {{#if breakBefore}}
                <div class="tab-entry schedule-entry-separator"></div>
              {{/if}}
              {{#if typeBreak}}
                {{#if show}}
                <div class="row tab-entry entry-row entry-break">
                  <div class="col-md-6 col-md-push-6">
                    <p class="schedule-entry-time">{{time}}</p>
                    <p class="schedule-entry-type">{{location}}</p>
                  </div>
                  <div class="col-md-6 col-md-pull-6">
                    <div class="entry-title">
                      {{title}}
                    </div>
                  </div>
                </div>
                {{/if}}
              {{else if typeTalks}}
                {{#if show}}
                <div class="row tab-entry entry-row">
                  <div class="col-md-6 col-md-push-6">
                    <p class="schedule-entry-type schedule-talk-location">{{location}}</p>
                  </div>
                  <div class="col-md-6 col-md-pull-6">
                    <div class="tab-entry activity-entry">
                      Palestras
                    </div>
                  </div>
                </div>
                {{#each slots}}
                  {{#if show}}
                  <div class="row tab-entry entry-row">
                    <div class="col-md-6 col-md-push-6">
                      <p class="schedule-entry-time">{{time}}</p>
                      <p class="schedule-entry-type">{{location}}</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                      {{#if url}}<a class="dis-link-color" href="{{url}}">{{/if}}
                      <div class="entry-title-talk">
                        <div class="talk-title">{{title}}</div>
                        <div class="talk-speaker">{{speaker}}</div>
                      </div>
                      {{#if url}}</a>{{/if}}
                    </div>
                  </div>
                  {{/if}}
                {{/each}}
                {{/if}}
              {{else if typeWorkshops}}
                {{#if show}}
                <div class="row tab-entry entry-row">
                  <div class="col-md-6 col-md-push-6">
                  </div>
                  <div class="col-md-6 col-md-pull-6">
                    <div class="tab-entry activity-entry">
                      Workshops
                    </div>
                  </div>
                </div>
                {{#each slots}}
                  {{#if show}}
                  <div class="row tab-entry entry-row">
                    <div class="col-md-6 col-md-push-6">
                      <p class="schedule-entry-time">{{time}}</p>
                      <p class="schedule-entry-type">{{location}}</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                      {{#if url}}<a class="dis-link-color" href="{{url}}">{{/if}}
                      <div class="entry-title-workshop">
                        <div class="talk-title">{{title}}</div>
                        <div class="talk-speaker">{{speaker}}</div>
                      </div>
                      {{#if url}}</a>{{/if}}
                    </div>
                  </div>
                  {{/if}}
                {{/each}}
                {{/if}}
              {{else if typeOther}}
                {{#if show}}
                <div class="row tab-entry entry-row">
                  <div class="col-md-6 col-md-push-6">
                    <p class="schedule-entry-time">{{time}}</p>
                    <p class="schedule-entry-type">{{location}}</p>
                  </div>
                  <div class="col-md-6 col-md-pull-6">
                    {{#if subtitle}}
                      <div class="entry-title-other">
                    {{else}}
                      <div class="entry-title-other-oneline">
                    {{/if}}
                      <div class="talk-title">{{title}}</div>
                      <div class="talk-speaker">{{subtitle}}</div>
                    </div>
                  </div>
                </div>
                {{/if}}
              {{/if}}
              {{#if breakAfter}}
                <div class="tab-entry schedule-entry-separator"></div>
              {{/if}}
            {{/each}}
          </div>
          {{/each}}
      </div>
    </div>
  </div>
</div>