{{#if include_navbar}} {{> navbar }} {{/if}}
<link rel='stylesheet' href='/stylesheets/schedule.css' />

<div class="container page-content-container">

  <div class="container speakers-title-container">
    <h1 class="speakers-title">Horário</h1>
    <a href="/">
    <div class="logo-wrapper">
      <div id="logo" class="enei-skew logo medium speaker">
        <p id="E_1">E</p>
        <p id="N_2">N</p>
        <p id="E_3">E</p>
        <p id="I_4">I</p>
      </div>
    </div>
    </a>
  </div>

  <div class="schedule-button-container">
    <a href="/misc/survival-guide.pdf"><div class="schedule-button"><button class="subcribe-btn-custom">Guia de Sobrevivência</button></div></a>
    <a href="/misc/schedule.pdf"><div class="schedule-button"><button class="subcribe-btn-custom">Versão PDF</button></div></a>
  </div>

  <div class="custom-tab-container">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          {{#each schedule}}
          {{#if @index}}
          <li class="custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{else}}
          <li class="active custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{/if}}
          {{/each}}
          <!--<li class="active custom-tab-item custom-tab-item-odd"><a href="#tab1default" data-toggle="tab">23 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab2default" data-toggle="tab">24 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-odd"><a href="#tab3default" data-toggle="tab">25 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab4default" data-toggle="tab">26 de Março</a></li>-->
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          {{#each schedule}} 
            {{#if @index}}
              <div class="tab-pane fade in" id="eneiday{{id}}">
            {{else}}
              <div class="tab-pane fade in active" id="eneiday{{id}}">
            {{/if}}

              <div class="table-container">
              <table class="table borderless schedule-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{{colTitle1}}</th>
                    <th scope="col" colspan="3">{{colTitle2}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each schedule}}
                  <tr>
                    <th scope="row">{{start}}</th>
                    {{#if special}}
                    <!-- SPECIAL -->
                    <td class="schedule-entry break-entry" colspan="2" rowspan="{{col1.rowspan}}">
                      <div class="schedule-entry-container rowcount-{{col1.rowspan}}"><span>
                      {{#if col1.url}}<a href='{{col1.url}}'>{{/if}}
                        {{{col1.title}}}
                      {{#if col1.url}}</a>{{/if}}</span>
                      {{#if col1.desc}}<div class="break-desc special">{{{col1.desc}}}</div>{{/if}}
                      </div>
                    </td>
                    <td class="schedule-entry break-entry" colspan="2" rowspan="{{col2.rowspan}}">
                      <div class="schedule-entry-container rowcount-{{col2.rowspan}}"><span>
                    {{#if col2.url}}<a href='{{col2.url}}'>{{/if}}
                      {{{col2.title}}}{{#if col2.url}}</a>{{/if}}</span></div>
                    </td>
                    {{else if break}}
                    <!-- BREAK -->
                    <td class="schedule-entry break-entry" colspan="4" rowspan="{{rowspan}}">
                      {{#if location}}
                      <div class="schedule-entry-container {{class}} rowcount-{{rowspan}}"><span>{{title}} | {{location}}</span>
                      {{#if desc}}<div class="break-desc">{{{desc}}}</div>{{/if}}
                      </div>
                      {{else}}
                      <div class="schedule-entry-container rowcount-{{rowspan}}"><span>{{title}}</span></div>
                      {{/if}}
                    </td>
                    <!-- COL 1 - TALKS-->
                    {{else}}
                    {{#if col1}}
                    {{#if col1.show}}
                    <td class="schedule-entry" {{#if col1.width}}style="width: {{col1.width}}%"{{/if}} colspan="{{col1.colspan}}" rowspan="{{col1.rowspan}}">
                      {{#if col1.url}}<a href="{{col1.url}}">{{/if}}
                      <div class="schedule-entry-container {{col1.class}} rowcount-{{col1.rowspan}}">
                      <div class="block-title">{{{col1.title}}}</div>
                      {{#if col1.subtitle}}
                      <div class="block-subtitle">{{{col1.subtitle}}}
                        {{#if col1.lang}}
                          <img class="schedule-talk-lang" src="/images/{{col1.lang}}-flag.png"/>
                        {{/if}}
                      </div>
                      {{/if}}
                      {{#if col1.extras}}
                      <div class="block-extras">{{col1.extras}}</div>
                      {{else}}
                      <div class="block-extras">{{col1.time}} | {{col1.location}}</div>
                      {{/if}}
                      </div>
                      {{#if col1.url}}</a>{{/if}}
                    </td>
                    {{/if}}
                    {{/if}}

                    <!-- COL 2 - WORKSHOPS-->
                    {{#if col2}}
                    {{#if col2.show}}
                    <td class="schedule-entry" {{#if col2.width}}style="width: {{col2.width}}%"{{/if}} colspan="{{col2.colspan}}" rowspan="{{col2.rowspan}}">
                      {{#if col2.url}}<a href="{{col2.url}}">{{/if}}
                      <div class="schedule-entry-container {{col2.class}} rowcount-{{col2.rowspan}}">
                      <div class="block-title">{{col2.title}}</div>
                      {{#if col2.subtitle}}
                      <div class="block-subtitle">{{{col2.subtitle}}}
                        {{#if col2.lang}}
                          <img class="schedule-talk-lang" src="/images/{{col2.lang}}-flag.png"/>
                        {{/if}}
                      </div>
                      {{/if}}
                      {{#if col2.extras}}
                      <div class="block-extras">{{col2.extras}}</div>
                      {{else}}
                      <div class="block-extras">{{col2.time}} | {{col2.location}}</div>
                      {{/if}}
                      </div>
                      {{#if col2.url}}</a>{{/if}}
                    </td>
                    {{/if}}
                    {{/if}}
                    
                    <!-- COL 3 - WORKSHOPS-->
                    {{#if col3}}
                    {{#if col3.show}}
                    <td class="schedule-entry" {{#if col3.width}}style="width: {{col3.width}}%"{{/if}} colspan="{{col3.colspan}}" rowspan="{{col3.rowspan}}">
                      {{#if col3.url}}<a href="{{col3.url}}">{{/if}}
                      <div class="schedule-entry-container {{col3.class}} rowcount-{{col3.rowspan}}">
                      <div class="block-title">{{col3.title}}</div>
                      {{#if col3.subtitle}}
                      <div class="block-subtitle">{{{col3.subtitle}}}
                        {{#if col3.lang}}
                          <img class="schedule-talk-lang" src="/images/{{col3.lang}}-flag.png"/>
                        {{/if}}
                      </div>
                      {{/if}}
                      {{#if col3.extras}}
                      <div class="block-extras">{{col3.extras}}</div>
                      {{else}}
                      <div class="block-extras">{{col3.time}} | {{col3.location}}</div>
                      {{/if}}
                      </div>
                      {{#if col3.url}}</a>{{/if}}
                    </td>
                    {{/if}}
                    {{/if}}

                    <!-- COL 4 - WORKSHOPS-->
                    {{#if col4}}
                    {{#if col4.show}}
                    <td class="schedule-entry" {{#if col4.width}}style="width: {{col4.width}}%"{{/if}} colspan="{{col4.colspan}}" rowspan="{{col4.rowspan}}">
                      {{#if col4.url}}<a href="{{col4.url}}">{{/if}}
                      <div class="schedule-entry-container {{col4.class}} rowcount-{{col4.rowspan}}">
                      <div class="block-title">{{col4.title}}</div>
                      {{#if col4.subtitle}}
                      <div class="block-subtitle">{{{col4.subtitle}}}
                        {{#if col4.lang}}
                          <img class="schedule-talk-lang" src="/images/{{col4.lang}}-flag.png"/>
                        {{/if}}
                      </div>
                      {{/if}}
                      {{#if col4.extras}}
                      <div class="block-extras">{{col4.extras}}</div>
                      {{else}}
                      <div class="block-extras">{{col4.time}} | {{col4.location}}</div>
                      {{/if}}
                      </div>
                      {{#if col4.url}}</a>{{/if}}
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              </div>

              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      
{{> footer }}