{{#if include_navbar}} {{> navbar }} {{/if}}
<link rel='stylesheet' href='/stylesheets/schedule.css' />

<div class="container page-content-container">
  <div class="custom-tab-container">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          {{#each schedule}} {{#if id}}
          <li class="custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{else}}
          <li class="active custom-tab-item custom-tab-item-odd">
            <a href="#eneiday{{id}}" data-toggle="tab">{{day}}</a>
          </li>
          {{/if}} {{/each}}
          <!--<li class="active custom-tab-item custom-tab-item-odd"><a href="#tab1default" data-toggle="tab">23 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab2default" data-toggle="tab">24 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-odd"><a href="#tab3default" data-toggle="tab">25 de Março</a></li>
          <li class="custom-tab-item custom-tab-item-even"><a href="#tab4default" data-toggle="tab">26 de Março</a></li>-->
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          {{#each schedule}} {{#if @index}}
          <div class="tab-pane fade in" id="eneiday{{id}}">
            {{else}}
            <div class="tab-pane fade in active" id="eneiday{{id}}">
              {{/if}}

              <table class="table borderless schedule-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Palestras</th>
                    <th scope="col" colspan="3">Workshops</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each schedule}}
                  <tr>
                    <th scope="row">{{start}}</th>
                    {{#if col1}}
                    <td class="schedule-entry" colspan="{{col1.colspan}}" rowspan="{{col1.rowspan}}">
                      <div class="schedule-entry-container rowcount-{{col1.rowspan}}">
                      {{#if col1.url}}<a href="{{col1.url}}">{{/if}}
                      <div class="block-title">{{col1.title}}</div>
                      {{#if col1.subtitle}}
                      <div class="block-subtitle">{{col1.subtitle}}</div>
                      {{/if}}
                      {{#if col1.url}}</a>{{/if}}
                      {{#if col1.extras}}
                      <div class="block-extras">{{col1.extras}}</div>
                      {{else}}
                      <div class="block-extras">{{col1.time}} | {{col1.location}}</div>
                      {{/if}}
                      </div>
                    </td>
                    {{/if}}
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>