{{#if include_navbar}} {{> navbar }} {{/if}}
<div class="container page-content-container">

  <div class="container speakers-title-container">
    <h1 class="speakers-title">Speaker</h1>
    <div class="logo-wrapper">
      <div id="logo" class="enei-skew logo medium speaker">
        <p id="E_1">E</p>
        <p id="N_2">N</p>
        <p id="E_3">E</p>
        <p id="I_4">I</p>
      </div>
    </div>
  </div>
  <div class="speaker-container row">
    <div class="bio-row row">
      <div class="col-md-4">
        {{#if speaker.image}}
        <img src="/images/speakers/{{speaker.image}}" />
        {{/if}}
      </div>
      <div class="col-md-8 info-col">
        <h2>{{speaker.name}}</h2>
        <h4>{{speaker.company}}</h4>
        <h4>{{speaker.role}}</h4>
        <p class="speaker-page-bio">{{{speaker.fullBio}}}</p>

        {{#if speaker.linkedin}}
        <a href="{{speaker.linkedin}}">
          <i class="fa fa-linkedin-square speaker-social-icon" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if speaker.instagram}}
        <a href="{{speaker.instagram}}">
          <i class="fa fa-instagram speaker-social-icon" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if speaker.github}}
        <a href="{{speaker.github}}">
          <i class="fa fa-github-square speaker-social-icon" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if speaker.facebook}}
        <a href="{{speaker.facebook}}">
          <i class="fa fa-facebook-square speaker-social-icon" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if speaker.website}}
        <a href="{{speaker.website}}">
          <i class="fa fa-globe speaker-social-icon" aria-hidden="true"></i>
        </a>
        {{/if}}
      </div>
    </div>

    {{#if speaker.displayDetails}}
    
    {{#if speaker.video}}
    <div class="video-row row video-row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h4 class="about-talk-title">Vídeo da palestra</h3>
        <iframe id="talk-video" src="{{speaker.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    {{else}}
    <div class="row separator-row separator-shapes-1">
      <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpink anim-vertical-phase1"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-thrdhlghtblue anim-vertical-phase2"></div>
      <div class="col-xs-4 shape-square enei-skew enei-bgd-hlghtpurple anim-vertical-phase3"></div>
    </div>
    {{/if}}

    <div class="info-row row">
      <div class="col-md-4 speaker-faq">
        {{#if speaker.faqs.length}}
        <div class="speaker-faq-title" id="speaker-faq-title">
          FAQ
        </div>
        <div class="panel-group" id="accordion">
          {{#each speaker.faqs}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}">
                  {{question}}</a>
              </h4>
            </div>
            <div id="collapse{{@index}}" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                {{answer}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
      <div class="col-md-8 talk-col">
        {{#if speaker.showTalk}}
        <h4 class="about-talk-title">Sobre a palestra</h3>
        <h5>{{speaker.talkDate}}</h5>
        <h4>{{speaker.talkTitle}}</h4>
        {{#if speaker.signup_url}}
          <a href="{{speaker.signup_url}}"><div id="speaker-button" class="speaker-page col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Inscreve-te!</button></div></a>
        {{/if}}
        {{#if speaker.lang}}
        <p class="speaker-page-talk">Idioma: <img class="talk-lang-icon" src="/images/{{speaker.lang}}-flag.png"/></p>
        {{/if}}
        <p class="speaker-page-talk">{{{speaker.talkSummary}}}</p>
        {{/if}}
      </div>
    </div>
    {{/if}}
  </div>
</div>

{{> footer }}