{{#if include_navbar}} {{> navbar }} {{/if}}
<div class="container page-content-container">

  <div class="container speakers-title-container">
    <h1 class="speakers-title">Atividade</h1>
    <div class="logo-wrapper">
      <div id="logo" class="enei-skew logo medium speaker">
        <p id="E_1">E</p>
        <p id="N_2">N</p>
        <p id="E_3">E</p>
        <p id="I_4">I</p>
      </div>
    </div>
  </div>
  <div class="speaker-container row">
    <div class="bio-row row">
      <div class="col-md-4">
        <img src="{{talk.image}}" />
      </div>
      <div class="col-md-8 info-col">
        <h2>{{{talk.title}}}</h2>
        <h4>{{talk.date}}</h4>
        <h4>{{{talk.location}}}</h4>
        <div style="display: block;">
        <p class="speaker-page-bio">{{{talk.desc}}}</p>
        {{#if talk.signup_url}}
          <div id="speaker-button" class="talk-page col-sm-4 info-socialmedia-col"><button class="subcribe-btn-custom">Inscreve-te!</button></div>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer }}